<!--if the single page has the single css file,then use the folling-->
{{#extend "css"}}
    <link rel="stylesheet" href="">
    <style>  
    </style>
{{/extend}}

<section></section>

{{#extend 'js'}}
{{/extend}}