<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Webpack Demo</title>
   <link rel="stylesheet" href="/build/app.min.a52b40d1.css">
</head>
<body>
  <h1>Demo</h1>
  <script src="/build/app.min.7b8257e2.js"></script>
</body>
</html>